body {
    background-color: #b2b6bf;
    text-align: center;
    color: #FFFFFF;
    padding: 5%;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    color: #FFFFFF;
    gap: 10px;
    
}
header {
    background-color: #9e2063;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 5%;
}
.article-container {
    background-color: #24b57b;
    padding: 10px;
    border-radius: 10px; 


.article-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
}
article {
    background-color: #e3195c;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;

}
.aside1 {
    background-color: #116395;
    border-radius: 10px;
    
}
.aside2 {
    background-color: #24a4b5;
    border-radius: 10px;
    
}
footer {
    background-color: #e06a26;
    border-radius: 10px;
    padding: 5%;
    margin-top: 10px;
}

@media screen and (max-width:768px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
    }
}